/* Light Side */
:root, [data-theme="default"] {
    --color-1: rgba(255,255,255,1);
    --color-2: rgba(134,206,83,1);
    --color-3: rgba(71,158,192,1);
    --color-4: rgb(190, 26, 116);
    --color-5: rgba(12,27,67,1);
    --color-bg-footer: rgb(153, 43, 98);
    --color-bg-header: rgba(172, 60, 103, 0.9);
    --color-bg-extra: rgb(240, 182, 218);
    --color-bg-contact: rgb(241, 219, 230);
    --color-bg-main: rgba(255, 255, 255, 0.2);

}

